.aboutMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutBannerDiv{
    width: 100%;
    height: 60vh;
}

.aboutBannerImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    padding: 50px;
}