.ourServicesMain {
    padding: 50px 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #dbdbdb;
    border-radius: 16px;

  }
  
  .ourServicesMain h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 700;
  }
  
  .ourServicesSwiper {
    width: 100%;
    height: 75%;
    max-width: 1400px;
    margin: auto;
    padding-bottom: 60px;
    
  }
  
  .serviceSlide {
    background: white;
    border-radius: 16px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    height: 100%;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    min-height: 350px; /* Kart boyutunu sabitle */
  }
  
  .serviceSlide:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
  }
  
  .serviceImage {
    width: 100% !important;
    height: 50% !important;
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  .serviceText {
    text-align: center;
    padding: 0;
    flex-grow: 1;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: center;
  }
  
  .serviceText h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  
  .serviceText p {
    font-size: 14px;
    color: #666;
    margin: 0 auto;
    max-width: 250px;
  }
  
  /* Swiper dots */
  .swiper-pagination-bullet {
    background-color: #000;
    opacity: 0.3;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .homeOurServicesSlide{
    border-radius: 16px;
    background-color: #dbdbdb;
  }

  .seeMoreButton {
    margin-top: 12px;
    background-color: #3f2eff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .seeMoreButton:hover {
    background-color: #2b1eb8;
  }
  
  /* Responsive kÃ¼Ã§Ã¼k ekranlar */
  @media (max-width: 768px) {
    .serviceSlide {
        padding: 20px 15px;
        min-height: 300px;
    }
    .serviceImage {
        width: 120px;
        height: 120px;
    }
  }