.navbarMain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbarMain:hover {
  box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 35px;
}

.navbarImg {
  height: 90px;
  
}

.navbarLinks {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbarImgDiv{
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbarImgpng{
  height: 90px;
  width: 65%;
}

.navbarLink {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: black;
  padding: 5px 0;
}

.navbarLink::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease;
}

.navbarLink:hover::after,
.navbarLink.active::after {
  transform: translateX(-50%) scaleX(1);
}

.burgerIcon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  background: none;
  border: none;
  color: black;
}

/* Mobile styles */
@media (max-width: 1024px) {
  .burgerIcon {
    display: block;
  }

  .navbarLinks {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    z-index: 1000;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }

  .navbarLinks.open {
    display: flex;
  }
}